---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "image-path-rewriter.fullname" . }}-rewriter-configuration
  annotations:
    app.kubernetes.io/name: {{ include "image-path-rewriter.fullname" . }}-webhook--configuration
    helm.sh/chart: {{ include "image-path-rewriter.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "image-path-rewriter.fullname" . }}-cert
    helm.sh/hook-weight: "{{ .Values.hookWeight }}"
webhooks:
- clientConfig:
    caBundle: Cg==
    service:
      name: {{ include "image-path-rewriter.fullname" . }}-service
      path: /mutate
      port: 443
      namespace: {{ .Release.Namespace }}
  sideEffects: None
  admissionReviewVersions: ["v1"]
  failurePolicy: Fail
  timeoutSeconds: 5
  name: {{ include "image-path-rewriter.fullname" . }}-service.{{ .Release.Namespace }}.svc.cluster.local
  rules:
  - apiGroups:   [""]
    apiVersions: ["v1"]
    operations:  ["CREATE"]
    resources:   ["pods"]
    scope:       "Namespaced"
  namespaceSelector:
      matchLabels:
        uipath-injection: "enabled"
